* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s; }

header, main, footer {
  max-width: 1600px;
  margin: 0 auto; }

.container {
  max-width: 940px;
  padding: 0; }

.button {
  width: 120px;
  height: 40px;
  border: 1px solid #00e0d0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase; }

.button:hover {
  background-color: rgba(0, 224, 209, 0.5);
  color: #fff;
  cursor: pointer; }

header {
  background-image: url(/img/header.jpg);
  background-position: center center;
  background-repeat: no-repeat; }

.header-wrapper {
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
  padding: 15px 0 70px; }

.logo-nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 163px; }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0; }

.navbar-light .navbar-nav .active > .nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 900;
  line-height: normal;
  font-style: normal;
  letter-spacing: 0.33px;
  margin-left: 20px; }

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: #00e0d0; }

header .carousel-inner h6 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.32px;
  line-height: normal;
  text-align: center;
  margin-bottom: 21px; }

.line {
  margin: 0 auto;
  width: 50px;
  border-bottom: 1px solid #00e0d0;
  margin-bottom: 30px; }

header .carousel-inner p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.7px;
  max-width: 771px;
  margin: 0 auto 50px; }

header .button {
  margin-bottom: 127px; }

header ol.carousel-indicators {
  margin: 0; }

header ol.carousel-indicators li {
  width: 10px;
  height: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  background: none;
  box-sizing: border-box; }

header ol.carousel-indicators li.active {
  background-color: #00e0d0;
  border: none; }

@media (min-width: 992px) {
  .navbar {
    justify-content: end; } }
