* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s; }

header, main, footer {
  max-width: 1600px;
  margin: 0 auto; }

.container {
  max-width: 940px;
  padding: 0; }

.line {
  margin: 0 auto;
  width: 50px;
  border-bottom: 2px solid rgba(65, 61, 75, 0.3); }

.button {
  width: 120px;
  height: 40px;
  border: 1px solid #00e0d0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase; }

.button:hover {
  background-color: rgba(0, 224, 209, 0.5);
  color: #fff;
  cursor: pointer; }

header {
  background-image: url(/img/header.jpg);
  background-position: center center;
  background-repeat: no-repeat; }

.header-wrapper {
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.85;
  padding: 15px 0 69px; }

.logo-nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px; }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0; }

.navbar-light .navbar-nav .active > .nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: 900;
  line-height: normal;
  font-style: normal;
  letter-spacing: 0.33px;
  margin-left: 20px; }

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: #00e0d0; }

header .carousel-inner h6 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.32px;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px; }

header .line {
  border-bottom: 1px solid #00e0d0;
  margin-bottom: 30px; }

header .carousel-inner p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.7px;
  max-width: 771px;
  margin: 0 auto 50px; }

header .button {
  margin-bottom: 120px; }

header ol.carousel-indicators {
  margin: 0; }

header ol.carousel-indicators li {
  width: 10px;
  height: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  background: none;
  box-sizing: border-box; }

header ol.carousel-indicators li.active {
  background-color: #00e0d0;
  border: none; }

.about {
  padding-top: 70px; }

.about-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70px; }

.about-wrapper img {
  margin-right: 100px;
  width: 235px;
  height: 229px; }

.story {
  max-width: 538px; }

.story h5 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  color: #413d4b;
  line-height: normal;
  letter-spacing: 1.1px;
  margin-bottom: 28px; }

.story p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  opacity: 0.75;
  color: #413d4b;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  font-style: normal;
  letter-spacing: 0.42px;
  margin-bottom: 31px; }

.about .button {
  margin: 0; }

.video {
  position: relative; }

.video iframe {
  width: 100%;
  height: 550px; }

.expertise {
  padding: 72px 0 68px; }

.expertise h5 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  color: #413d4b;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: center;
  margin-bottom: 16px; }

.expertise p {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  opacity: 0.75;
  color: #2f2d35;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: 1.05px;
  margin-bottom: 18px; }

@media (max-width: 1024px) {
  .container {
    padding: 0 10px; } }

@media (max-width: 768px) {
  .header-wrapper {
    padding-bottom: 40px; }
  .logo-nav-wrapper, header .button {
    margin-bottom: 50px; }
  header .carousel-inner p {
    margin-bottom: 30px; }
  header .carousel-inner h6 {
    font-size: 24px; } }
