* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, main, footer {
  max-width: 1600px;
  margin: 0 auto; }

a {
  text-decoration: none; }

.container {
  max-width: 940px;
  padding: 0; }

.line {
  margin: 0 auto;
  width: 50px; }

.button {
  width: 120px;
  height: 40px;
  border: 1px solid #00e0d0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  transition: 0.5s; }
  .button:hover {
    background-color: rgba(0, 224, 209, 0.5);
    color: #fff;
    cursor: pointer; }

button {
  background: none;
  border: none; }

header {
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-repeat: no-repeat; }
  header .header-wrapper {
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    padding: 15px 0 69px; }
    header .header-wrapper .logo-nav-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 160px; }
      header .header-wrapper .logo-nav-wrapper .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0; }
    header .header-wrapper .carousel-inner h6 {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      color: #ffffff;
      font-family: "Playfair Display";
      font-size: 32px;
      font-weight: 900;
      letter-spacing: 0.32px;
      line-height: normal;
      text-align: center;
      margin-bottom: 20px; }
    header .header-wrapper .carousel-inner .line {
      border-bottom: 1px solid #00e0d0;
      margin-bottom: 30px; }
    header .header-wrapper .carousel-inner p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.7px;
      max-width: 771px;
      margin: 0 auto 50px; }
    header .header-wrapper .carousel-inner .button {
      margin-bottom: 120px; }
    header .header-wrapper ol.carousel-indicators {
      margin: 0; }
      header .header-wrapper ol.carousel-indicators li {
        width: 10px;
        height: 10px;
        border: 1px solid #c2c2c2;
        border-radius: 50%;
        background: none;
        box-sizing: border-box; }
      header .header-wrapper ol.carousel-indicators li.active {
        background-color: #00e0d0;
        border: none; }
  header .navbar-light .navbar-nav .active > .nav-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    padding: 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
    line-height: normal;
    font-style: normal;
    letter-spacing: 0.33px;
    margin-left: 20px;
    transition: 0.5s; }
    header .navbar-light .navbar-nav .active > .nav-link:hover {
      color: #00e0d0; }

.about {
  padding-top: 70px; }
  .about .about-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 70px; }
    .about .about-wrapper img {
      margin: 0 100px 20px 0;
      width: 235px;
      height: 229px; }
    .about .about-wrapper .story {
      max-width: 538px; }
      .about .about-wrapper .story h2 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-size: 22px;
        font-weight: 700;
        color: #413d4b;
        line-height: normal;
        letter-spacing: 1.1px;
        margin-bottom: 28px; }
      .about .about-wrapper .story p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        opacity: 0.75;
        color: #413d4b;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        font-style: normal;
        letter-spacing: 0.42px;
        margin-bottom: 31px; }
      .about .about-wrapper .story .button {
        margin: 0; }
  .about .video iframe {
    width: 100%;
    height: 550px; }

.expertise {
  padding: 72px 0 68px; }
  .expertise h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: center;
    margin-bottom: 16px; }
  .expertise p {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    opacity: 0.75;
    color: #2f2d35;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: 1.05px;
    margin-bottom: 18px; }
  .expertise .line {
    border-bottom: 2px solid rgba(65, 61, 75, 0.3);
    margin-bottom: 38px; }

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .expertise-grid .inner {
    padding: 39px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .expertise-grid .inner:nth-child(1), .expertise-grid .inner:nth-child(2) {
      border-right: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb; }
    .expertise-grid .inner:nth-child(3) {
      border-bottom: 1px solid #ebebeb; }
    .expertise-grid .inner:nth-child(4) {
      border-right: 1px solid #ebebeb; }
    .expertise-grid .inner:nth-child(5) {
      border-right: 1px solid #ebebeb; }
    .expertise-grid .inner img {
      margin-bottom: 35px; }
    .expertise-grid .inner h6 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      color: #413d4b;
      font-size: 14px;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.7px;
      margin-bottom: 25px;
      text-align: center; }
    .expertise-grid .inner p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      opacity: 0.75;
      color: #333333;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0.7px;
      max-width: 254px; }

.team {
  background-image: url(../img/background-team.jpg);
  background-position: center center;
  background-repeat: no-repeat; }
  .team .team-wrapper {
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    padding: 60px 0; }
    .team .team-wrapper h2 {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-size: 22px;
      font-weight: 700;
      color: #413d4b;
      line-height: normal;
      letter-spacing: 1.1px;
      color: #ffffff;
      text-align: center;
      margin-bottom: 16px; }
    .team .team-wrapper p {
      color: #f9f9f9;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      letter-spacing: 1.05px;
      margin-bottom: 18px; }
    .team .team-wrapper .line {
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      margin-bottom: 47px; }
    .team .team-wrapper .items-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px; }
      .team .team-wrapper .items-wrapper .item {
        width: 22%;
        border: 1px solid rgba(225, 225, 225, 0.5);
        transition: 0.5s; }
        .team .team-wrapper .items-wrapper .item img {
          width: 100%;
          margin-bottom: 23px; }
        .team .team-wrapper .items-wrapper .item h6 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          color: #413d4b;
          font-size: 14px;
          font-weight: 900;
          line-height: normal;
          letter-spacing: 0.7px;
          margin-bottom: 25px;
          text-align: center;
          color: #ffffff;
          margin-bottom: 12px; }
        .team .team-wrapper .items-wrapper .item p {
          opacity: 0.7;
          color: #fafafa;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-size: 13px;
          font-weight: 300;
          letter-spacing: normal;
          line-height: normal;
          text-align: center;
          margin-bottom: 25px; }
        .team .team-wrapper .items-wrapper .item:hover {
          cursor: pointer;
          transform: scale(1.1); }
    .team .team-wrapper .join {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      color: #f3f3f3;
      font-size: 14px;
      font-weight: 300;
      line-height: normal;
      text-align: center;
      letter-spacing: 0.7px;
      margin-bottom: 26px; }
    .team .team-wrapper .button {
      width: 140px; }

.works {
  padding: 70px 0; }
  .works .works-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px; }
    .works .works-wrapper h2 {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-size: 22px;
      font-weight: 700;
      color: #413d4b;
      line-height: normal;
      letter-spacing: 1.1px;
      margin: 0; }
    .works .works-wrapper a {
      transition: 0.5s;
      color: #413d4b;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: 0.7px;
      line-height: normal; }
      .works .works-wrapper a:hover {
        text-decoration: none;
        color: #00e0d0; }
  .works .grid-works {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 70px; }
    .works .grid-works a img {
      width: 100%; }

.testimonials {
  background-image: url(../img/background-testimonials.jpg);
  background-position: center center;
  background-repeat: no-repeat; }
  .testimonials .testimonials-wrapper {
    padding: 51px 0;
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%); }
    .testimonials .testimonials-wrapper .carousel-inner h1 {
      opacity: 0.9;
      color: #ffffff;
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-size: 100px;
      font-weight: 400;
      line-height: 68px;
      letter-spacing: 3px;
      text-align: center;
      margin-bottom: 0; }
    .testimonials .testimonials-wrapper .carousel-inner p {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      opacity: 0.85;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.4px;
      max-width: 770px;
      margin: 0 auto 52px; }
    .testimonials .testimonials-wrapper .carousel-inner h6 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      color: #413d4b;
      font-size: 14px;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.7px;
      margin-bottom: 25px;
      text-align: center;
      margin-bottom: 13px;
      color: #ffffff;
      line-height: 22px; }
    .testimonials .testimonials-wrapper .carousel-inner .position {
      opacity: 0.7;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 22px;
      text-align: center;
      margin-bottom: 115px; }
    .testimonials .testimonials-wrapper a.carousel-control-prev {
      align-items: flex-end;
      padding-bottom: 25px;
      left: calc(50% - 250px); }
    .testimonials .testimonials-wrapper a.carousel-control-next {
      align-items: flex-end;
      padding-bottom: 25px;
      right: calc(50% - 250px); }
    .testimonials .testimonials-wrapper ol.carousel-indicators {
      margin: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      max-width: 320px;
      margin: 0 auto; }
      .testimonials .testimonials-wrapper ol.carousel-indicators li {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin: 0 7px;
        border: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1; }
        .testimonials .testimonials-wrapper ol.carousel-indicators li:nth-child(1) {
          background-image: url(../img/brungilda.png); }
        .testimonials .testimonials-wrapper ol.carousel-indicators li:nth-child(2) {
          background-image: url(../img/frank.png); }
        .testimonials .testimonials-wrapper ol.carousel-indicators li:nth-child(3) {
          background-image: url(../img/jane.png); }
        .testimonials .testimonials-wrapper ol.carousel-indicators li:nth-child(4) {
          background-image: url(../img/katrin.png); }
        .testimonials .testimonials-wrapper ol.carousel-indicators li:nth-child(5) {
          background-image: url(../img/bob.png); }
      .testimonials .testimonials-wrapper ol.carousel-indicators li.active {
        width: 70px;
        height: 70px; }

.contact {
  padding: 72px 0 70px; }
  .contact .contact-wrapper {
    display: flex;
    justify-content: space-between; }
    .contact .contact-wrapper form {
      display: flex;
      flex-direction: column;
      width: 49%; }
      .contact .contact-wrapper form h2 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-size: 22px;
        font-weight: 700;
        color: #413d4b;
        line-height: normal;
        letter-spacing: 1.1px;
        margin-bottom: 35px; }
      .contact .contact-wrapper form input {
        outline: none;
        width: 100%;
        height: 45px;
        padding-left: 20px;
        margin-bottom: 21px;
        color: #413d4b;
        opacity: 0.5;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
        line-height: normal;
        border: 1px solid rgba(0, 0, 0, 0.2); }
      .contact .contact-wrapper form textarea {
        outline: none;
        height: 200px;
        width: 100%;
        padding: 22px 0 0 20px;
        margin-bottom: 21px;
        opacity: 0.5;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
        line-height: normal;
        border: 1px solid rgba(0, 0, 0, 0.2); }
      .contact .contact-wrapper form button {
        margin: 0;
        outline: none; }
    .contact .contact-wrapper .clients {
      width: 40%; }
      .contact .contact-wrapper .clients h2 {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-size: 22px;
        font-weight: 700;
        color: #413d4b;
        line-height: normal;
        letter-spacing: 1.1px;
        margin-bottom: 47px; }
      .contact .contact-wrapper .clients .clients-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 90px); }
        .contact .contact-wrapper .clients .clients-wrapper .client-logo {
          display: flex;
          align-items: center; }

footer {
  background-image: url(../img/footer.jpg);
  background-position: center center;
  background-repeat: no-repeat; }
  footer .footer-wrapper {
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    padding: 70px 0 40px; }
    footer .footer-wrapper .footer-wrap {
      display: flex;
      justify-content: space-between; }
      footer .footer-wrapper .footer-wrap .footer-logo {
        width: 32%; }
        footer .footer-wrapper .footer-wrap .footer-logo img {
          margin-bottom: 27px; }
        footer .footer-wrapper .footer-wrap .footer-logo p {
          color: #ffffff;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: 0.35px;
          margin-bottom: 62px;
          max-width: 283px; }
        footer .footer-wrapper .footer-wrap .footer-logo .link-footer-wrapper {
          display: flex;
          justify-content: space-between; }
          footer .footer-wrapper .footer-wrap .footer-logo .link-footer-wrapper a {
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.35px;
            text-decoration: none;
            transition: 0.5s; }
            footer .footer-wrapper .footer-wrap .footer-logo .link-footer-wrapper a:hover {
              color: #00e0d0; }
      footer .footer-wrapper .footer-wrap .studio {
        width: 29%; }
        footer .footer-wrapper .footer-wrap .studio h4 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 900;
          margin-bottom: 39px;
          color: #ffffff;
          font-size: 15px;
          line-height: 26px;
          letter-spacing: 0.75px; }
        footer .footer-wrapper .footer-wrap .studio .geo-wrapper {
          display: flex;
          justify-content: space-between; }
          footer .footer-wrapper .footer-wrap .studio .geo-wrapper img {
            width: 14px;
            height: 19px;
            margin-right: 16px; }
          footer .footer-wrapper .footer-wrap .studio .geo-wrapper p {
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.35px;
            margin-bottom: 27px;
            max-width: 240px; }
        footer .footer-wrapper .footer-wrap .studio .phone-wrapper {
          display: flex; }
          footer .footer-wrapper .footer-wrap .studio .phone-wrapper img {
            width: 14px;
            height: 19px;
            margin-right: 16px; }
          footer .footer-wrapper .footer-wrap .studio .phone-wrapper a {
            text-decoration: none;
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.35px;
            transition: 0.5s; }
            footer .footer-wrapper .footer-wrap .studio .phone-wrapper a:hover {
              color: #00e0d0; }
      footer .footer-wrapper .footer-wrap .subscribe {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 31%; }
        footer .footer-wrapper .footer-wrap .subscribe h4 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 900;
          margin-bottom: 39px;
          color: #ffffff;
          font-size: 15px;
          line-height: 26px;
          letter-spacing: 0.75px; }
        footer .footer-wrapper .footer-wrap .subscribe form {
          display: flex;
          justify-content: space-between;
          margin-bottom: 27px; }
          footer .footer-wrapper .footer-wrap .subscribe form input {
            background: none;
            height: 45px;
            width: 211px;
            padding-left: 16px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            opacity: 0.75;
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0.7px;
            outline: none; }
          footer .footer-wrapper .footer-wrap .subscribe form button {
            width: 70px;
            height: 45px;
            background-color: rgba(255, 255, 255, 0.5);
            transition: 0.5s; }
            footer .footer-wrapper .footer-wrap .subscribe form button:hover {
              background-color: rgba(0, 224, 209, 0.5); }
        footer .footer-wrapper .footer-wrap .subscribe .social {
          display: flex;
          margin-bottom: 70px; }
          footer .footer-wrapper .footer-wrap .subscribe .social a {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            color: #ffffff;
            margin-right: 8px;
            transition: 0.5s; }
            footer .footer-wrapper .footer-wrap .subscribe .social a.facebook:hover {
              color: #3b5998;
              border-color: #3b5998; }
            footer .footer-wrapper .footer-wrap .subscribe .social a.twitter:hover {
              color: #1da1f2;
              border-color: #1da1f2; }
            footer .footer-wrapper .footer-wrap .subscribe .social a.dribbble:hover {
              color: #eb4d88;
              border-color: #eb4d88; }
            footer .footer-wrapper .footer-wrap .subscribe .social a.instagram:hover {
              color: #FFDC80;
              border-color: #FFDC80; }
            footer .footer-wrapper .footer-wrap .subscribe .social a.google:hover {
              color: #ec314e;
              border-color: #ec314e; }
            footer .footer-wrapper .footer-wrap .subscribe .social a.youtube:hover {
              color: #cd201d;
              border-color: #cd201d; }
        footer .footer-wrapper .footer-wrap .subscribe p {
          color: #ffffff;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
          text-align: right;
          letter-spacing: 0.35px;
          margin: 0; }

@media (max-width: 1024px) {
  .container {
    padding: 0 10px; }
  header .header-wrapper .logo-nav-wrapper .navbar {
    position: absolute;
    right: 0;
    top: 0px;
    background-color: #3d3062;
    padding-top: 60px;
    z-index: 2; }
  .navbar-light .navbar-toggler {
    border: none;
    position: absolute;
    right: 10px;
    top: 10;
    outline: none; }
  .navbar-light .navbar-toggler-icon {
    background-image: none; }
    .navbar-light .navbar-toggler-icon:before {
      font-family: FontAwesome;
      content: "\f0c9";
      line-height: 30px;
      font-size: 30px;
      color: #ffffff; }
  .navbar-light .navbar-nav .active > .nav-link {
    margin: 0 0 20px; }
  .works .grid-works {
    grid-template-columns: repeat(4, 1fr); }
  .testimonials .testimonials-wrapper {
    padding: 30px 0; }
    .testimonials .testimonials-wrapper .carousel-inner p {
      margin-bottom: 20px; } }

@media (max-width: 768px) {
  header .header-wrapper {
    padding-bottom: 40px; }
    header .header-wrapper .carousel-inner p {
      margin-bottom: 30px; }
    header .header-wrapper .carousel-inner h6 {
      font-size: 24px; }
  .about .about-wrapper {
    flex-direction: column;
    align-items: center; }
    .about .about-wrapper img {
      margin-right: 0; }
    .about .about-wrapper .story h2 {
      text-align: center; }
    .about .about-wrapper .story .button {
      margin: 0 auto; }
  .about .video iframe {
    height: 300px; }
  .expertise-grid {
    grid-template-columns: repeat(2, 1fr); }
    .expertise-grid .inner:nth-child(2) {
      border-right: none; }
    .expertise-grid .inner:nth-child(3) {
      border-right: 1px solid #ebebeb; }
    .expertise-grid .inner:nth-child(4) {
      border-bottom: 1px solid #ebebeb;
      border-right: none; }
  .team {
    background-image: none; }
    .team .team-wrapper {
      opacity: 1; }
      .team .team-wrapper .items-wrapper {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 30px; }
        .team .team-wrapper .items-wrapper .item {
          width: 40%;
          margin-bottom: 30px; }
  .works .grid-works {
    grid-template-columns: repeat(2, 1fr); }
  .contact .contact-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; }
    .contact .contact-wrapper form {
      align-items: center;
      width: 80%;
      margin-bottom: 50px; }
      .contact .contact-wrapper form textarea {
        max-height: 100px; }
    .contact .contact-wrapper .clients {
      width: 80%; }
      .contact .contact-wrapper .clients h2 {
        text-align: center; }
      .contact .contact-wrapper .clients .clients-wrapper .client-logo {
        justify-content: center; }
  footer {
    background-image: none; }
    footer .footer-wrapper {
      padding: 30px 0; }
      footer .footer-wrapper .footer-wrap {
        flex-direction: column;
        align-items: center; }
        footer .footer-wrapper .footer-wrap .footer-logo {
          width: 80%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          margin-bottom: 50px; }
          footer .footer-wrapper .footer-wrap .footer-logo p {
            max-width: 90%;
            margin-bottom: 20px; }
          footer .footer-wrapper .footer-wrap .footer-logo .link-footer-wrapper a:nth-child(2) {
            margin: 0 10px; }
        footer .footer-wrapper .footer-wrap .studio {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 80%;
          margin-bottom: 50px; }
          footer .footer-wrapper .footer-wrap .studio h4 {
            margin: 0  auto 20px; }
          footer .footer-wrapper .footer-wrap .studio .geo-wrapper p {
            max-width: 800%; }
        footer .footer-wrapper .footer-wrap .subscribe {
          width: 80%;
          align-items: center; } }

@media (max-width: 480px) {
  header {
    background-image: none; }
  .expertise-grid {
    grid-template-columns: repeat(1, 1fr); }
    .expertise-grid .inner:nth-child(1n) {
      border-right: none;
      border-bottom: 1px solid #ebebeb; }
    .expertise-grid .inner:last-child {
      border: none; }
  .team .team-wrapper .items-wrapper .item {
    width: 60%; }
  .works .works-wrapper {
    flex-direction: column;
    align-items: center; }
    .works .works-wrapper h2 {
      margin-bottom: 20px; }
  .works .grid-works {
    grid-template-columns: repeat(1, 1fr); }
  .testimonials {
    background-image: none; }
    .testimonials .testimonials-wrapper {
      opacity: 1;
      padding: 50px 0 70px; }
      .testimonials .testimonials-wrapper .carousel-inner .position {
        margin-bottom: 80px; }
      .testimonials .testimonials-wrapper a.carousel-control-prev {
        padding: 0;
        left: calc(50% - 70px);
        bottom: -35px; }
      .testimonials .testimonials-wrapper a.carousel-control-next {
        padding: 0;
        right: calc(50% - 70px);
        bottom: -35px; }
  .contact .contact-wrapper .clients .clients-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 90px); } }
