header{
    max-width: 1600px;    
    margin: 0 auto;
    background-image: url(/img/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .header-wrapper {
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
    padding: 15px 0 70px;
  }
  
  .container {
    max-width: 940px;
    padding: 0;
  }
  
  .logo-nav-wrapper {
    @include d-f;
    margin-bottom: 163px;
  }
  
  .navbar {
    @include d-f;
    padding: 0;
  }
  
  .navbar-light .navbar-nav .active>.nav-link {
    padding: 0;
    color: #ffffff;
    margin-left: 20px;
  }