@media (max-width: 1024px) {

   .container {
       padding: 0 10px;
   }

   .works {

        & .grid-works {
            grid-template-columns: repeat(4, 1fr);
        }
   }

   .testimonials {

        & .testimonials-wrapper {
            padding: 30px 0;

            & .carousel-inner {

                & p {
                    margin-bottom: 20px;
                }
            }
        }    
    }

}

@media (max-width: 768px) {

    header {
        & .header-wrapper {
            padding-bottom: 40px;

            & .logo-nav-wrapper, .button {
                margin-bottom: 50px;
            }
        
            &  .carousel-inner p {
                margin-bottom: 30px;
            }
        
            &  .carousel-inner h6 {
                font-size: 24px;
            }
        }
    
        
    }
    
    .about {

        & .about-wrapper {
            flex-direction: column;
            align-items: center;
    
            & img {
                margin-right: 0;
            }
    
            & h2 {
                text-align: center;
            }
    
            & .button {
                margin: 0 auto;
            }
        }
    
        & .video iframe {
            height: 300px;
        }
    }
    

    .expertise-grid {
        grid-template-columns: repeat(2, 1fr);

        & .inner {
        
            &:nth-child(2) {
                border-right: none;
            }
            
            &:nth-child(3) {
                border-right: 1px solid #ebebeb;
            }
        
            &:nth-child(4) {
                border-bottom: 1px solid #ebebeb;
                border-right: none;
            }
        }
    }

    .team {
        background-image: none;

        & .team-wrapper{
            opacity: 1;
            
            & .items-wrapper {
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-bottom: 30px;
    
                & .item {
                    width: 40%;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .works {

        & .grid-works {
            grid-template-columns: repeat(2, 1fr);
        }
   }
    
}    

@media (max-width: 480px) {
    .expertise-grid {
        grid-template-columns: repeat(1, 1fr);

        & .inner {

            &:nth-child(1n)  {
                border-right: none;
                border-bottom: 1px solid #ebebeb;
            }

            &:last-child  {
                border: none;
            }
            
        }
    }

    .team {

        & .team-wrapper{
            
            & .items-wrapper {
    
                & .item {
                    width: 60%;
                }
            }
        }
    }

    .works {

        & .works-wrapper {
            flex-direction: column;
            align-items: center;

            & h2 {
                margin-bottom: 20px;
            }
        }

        & .grid-works {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .testimonials {
        background-image: none;

        & .testimonials-wrapper {
            opacity: 1;
            padding: 50px 0 70px;

            & .carousel-inner {

                & .position {
                    margin-bottom: 80px;
                }
            }
            
            & a.carousel-control-prev {
                padding: 0;
                left: calc(50% - 70px); 
                bottom: -35px;
            }
    
            & a.carousel-control-next {
                padding: 0;
                right: calc(50% - 70px); 
                bottom: -35px;
            } 
        }  
    }      
}