@media (max-width: 1024px) {

   .container {
       padding: 0 10px;
   }

   header .header-wrapper .logo-nav-wrapper .navbar {
       position: absolute;
       right: 0;
       top: 0px;
       background-color: #3d3062;
       padding-top: 60px;
       z-index: 2;
   }

   .navbar-light .navbar-toggler {
       border: none;
       position: absolute;
       right: 10px;
       top: 10;
       outline: none;
   }

   .navbar-light .navbar-toggler-icon {
       background-image: none;

       &:before {
        font-family: FontAwesome;
        content: "\f0c9";
        line-height: 30px;
        font-size: 30px;
        color: #ffffff;
        }
   }

   .navbar-light .navbar-nav .active>.nav-link {
       margin: 0 0 20px;
   }

   .works {

        & .grid-works {
            grid-template-columns: repeat(4, 1fr);
        }
   }

   .testimonials {

        & .testimonials-wrapper {
            padding: 30px 0;

            & .carousel-inner {

                & p {
                    margin-bottom: 20px;
                }
            }
        }    
    }

}

@media (max-width: 768px) {

    header {
        & .header-wrapper {
            padding-bottom: 40px;
        
            &  .carousel-inner p {
                margin-bottom: 30px;
            }
        
            &  .carousel-inner h6 {
                font-size: 24px;
            }
        }
    
        
    }
    
    .about {

        & .about-wrapper {
            flex-direction: column;
            align-items: center;
    
            & img {
                margin-right: 0;
            }

            & .story {

                & h2 {
                    text-align: center;
                }
        
                & .button {
                    margin: 0 auto;
                }
            }
        }
    
        & .video iframe {
            height: 300px;
        }
    }
    

    .expertise-grid {
        grid-template-columns: repeat(2, 1fr);

        & .inner {
        
            &:nth-child(2) {
                border-right: none;
            }
            
            &:nth-child(3) {
                border-right: 1px solid #ebebeb;
            }
        
            &:nth-child(4) {
                border-bottom: 1px solid #ebebeb;
                border-right: none;
            }
        }
    }

    .team {
        background-image: none;

        & .team-wrapper{
            opacity: 1;
            
            & .items-wrapper {
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin-bottom: 30px;
    
                & .item {
                    width: 40%;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .works {

        & .grid-works {
            grid-template-columns: repeat(2, 1fr);
        }
   }

   .contact {

        & .contact-wrapper {
            @include d-f;
            flex-direction: column;
            align-items: center;

            & form {
                align-items: center;
                width: 80%;
                margin-bottom: 50px;

                & textarea {
                    max-height: 100px;
                }
            }

            & .clients {
                width: 80%;

                & h2 {
                    text-align: center;
                }

                & .clients-wrapper {

                    & .client-logo {
                        justify-content: center;
                    }
                }
            }
        }
    }

    footer {
        background-image: none;
    
        & .footer-wrapper {
            padding: 30px 0;
    
            & .footer-wrap {
                flex-direction: column;
                align-items: center;

                & .footer-logo {
                    width: 80%;
                    @include d-f;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 50px;

                    & p {
                        max-width: 90%;
                        margin-bottom: 20px;
                    }

                    & .link-footer-wrapper a:nth-child(2) {
                        margin: 0 10px;
                    }

                }

                
                & .studio {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 80%;
                    margin-bottom: 50px;

                    & h4 {
                        margin: 0  auto 20px;
                    }

                    & .geo-wrapper {
                        
                        & p {
                            max-width: 800%;
                        }
                    }
                }

                & .subscribe {
                    width: 80%;
                    align-items: center;
                }
            }
        }    
    }
}
    
    

@media (max-width: 480px) {

    header {
        background-image: none;
    }
    .expertise-grid {
        grid-template-columns: repeat(1, 1fr);

        & .inner {

            &:nth-child(1n)  {
                border-right: none;
                border-bottom: 1px solid #ebebeb;
            }

            &:last-child  {
                border: none;
            }
            
        }
    }

    .team {

        & .team-wrapper{
            
            & .items-wrapper {
    
                & .item {
                    width: 60%;
                }
            }
        }
    }

    .works {

        & .works-wrapper {
            flex-direction: column;
            align-items: center;

            & h2 {
                margin-bottom: 20px;
            }
        }

        & .grid-works {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .testimonials {
        background-image: none;

        & .testimonials-wrapper {
            opacity: 1;
            padding: 50px 0 70px;

            & .carousel-inner {

                & .position {
                    margin-bottom: 80px;
                }
            }
            
            & a.carousel-control-prev {
                padding: 0;
                left: calc(50% - 70px); 
                bottom: -35px;
            }
    
            & a.carousel-control-next {
                padding: 0;
                right: calc(50% - 70px); 
                bottom: -35px;
            } 
        }  
    }   
    
    .contact {

        & .contact-wrapper {

            & .clients {

                & .clients-wrapper {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(10, 90px);
                }
            }
        }
    }
}