@mixin d-f {
    display: flex;
    justify-content: space-between;
}
  
@mixin f-roboto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  
}
  
@mixin f-playfair {
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

@mixin h2 {
    @include f-playfair;
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    line-height: normal;
    letter-spacing: 1.1px;
}

@mixin h6 {
    @include f-roboto;
    color: #413d4b;
    font-size: 14px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.7px;
    margin-bottom: 25px;
    text-align: center;
}

@mixin h4 {
    @include f-roboto;
    font-weight: 900;
    margin-bottom: 39px;
    color: #ffffff;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.75px;
}
  