.team {
    background-image: url(../img/background-team.jpg);
    background-position: center center;
    background-repeat: no-repeat;

    & .team-wrapper {
        background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
        opacity: 0.85;
        padding: 60px 0;

        & h2 {
            @include h2;
            color: #ffffff;
            text-align: center;
            margin-bottom: 16px;
        }

        & p {
            color: #f9f9f9;
            @include f-roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            letter-spacing: 1.05px;
            margin-bottom: 18px;
        }

        & .line {
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
            margin-bottom: 47px;
        }

        & .items-wrapper {
            @include d-f;
            margin-bottom: 60px;

            & .item {
                width: 22%;
                border: 1px solid rgba(225, 225, 225, 0.5);
                transition: 0.5s;

                & img {
                    width: 100%;
                    margin-bottom: 23px;
                } 

                & h6 {
                    @include h6;
                    color: #ffffff;
                    margin-bottom: 12px;
                }

                & p {
                    opacity: 0.7;
                    color: #fafafa;
                    @include f-roboto;
                    font-size: 13px;
                    font-weight: 300;
                    letter-spacing: normal;
                    line-height: normal;
                    text-align: center;  
                    margin-bottom: 25px;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }

        & .join {
            @include f-roboto;
            color: #f3f3f3;
            font-size: 14px;
            font-weight: 300;
            line-height: normal;
            text-align: center;
            letter-spacing: 0.7px;
            margin-bottom: 26px;
        }

        & .button {
            width: 140px;
        }
    }
}