.testimonials {
    background-image: url(../img/background-testimonials.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    
    
    & .testimonials-wrapper {
        padding: 51px 0;
        background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);

        & .carousel-inner {

            & h1 {
                opacity: 0.9;
                color: #ffffff;
                @include f-playfair;
                font-size: 100px;
                font-weight: 400;
                line-height: 68px;
                letter-spacing: 3px;
                text-align: center;
                margin-bottom: 0;
            }

            & p {
                @include f-playfair;
                opacity: 0.85;
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
                letter-spacing: 0.4px;
                max-width: 770px;
                margin: 0 auto 52px;
            }

            & h6 {
                @include h6;
                margin-bottom: 13px;
                color: #ffffff;
                line-height: 22px;
            }

            & .position {
                opacity: 0.7;
                color: #ffffff;
                @include f-roboto;
                font-size: 13px;
                font-weight: 300;
                letter-spacing: normal;
                line-height: 22px;
                text-align: center;
                margin-bottom: 115px;
            }
        }

        & a.carousel-control-prev {
            align-items: flex-end;
            padding-bottom: 25px;
            left: calc(50% - 250px); 
        }

        & a.carousel-control-next{
            align-items: flex-end;
            padding-bottom: 25px;
            right: calc(50% - 250px); 
        }

        & ol.carousel-indicators {
            margin: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            max-width: 320px;
            margin: 0 auto;

            & li {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                margin: 0 7px;
                border: none;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                opacity: 1;

                &:nth-child(1) {
                    background-image: url(../img/brungilda.png);
                }

                &:nth-child(2) {
                    background-image: url(../img/frank.png);
                }

                &:nth-child(3) {
                    background-image: url(../img/jane.png);
                }

                &:nth-child(4) {
                    background-image: url(../img/katrin.png);
                }

                &:nth-child(5) {
                    background-image: url(../img/bob.png);
                }
            }

            & li.active {
                width: 70px;
                height: 70px;
            }
        } 

        

    }

}