section.expertise
    .container
        h2 EXPERTISE
        p Lorem ipsum dolor sit amet proin gravida nibh vel velit
        .line
        .expertise-grid
            .inner
                img(src="img/expertise-1.png", alt="IMG")
                h6 WEB DESIGN & DEVELOPMENT
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .inner
                img(src="img/expertise-2.png", alt="IMG")
                h6 BRANDING IDENTITY
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .inner
                img(src="img/expertise-3.png", alt="IMG")
                h6 MOBILE APP
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .inner
                img(src="img/expertise-4.png", alt="IMG")
                h6 SEARCH ENGINE OPTIMIZATION
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .inner
                img(src="img/expertise-5.png", alt="IMG")
                h6 GAME DEVELOPMENT
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .inner
                img(src="img/expertise-6.png", alt="IMG")
                h6 MADE WITH LOVE
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.                    
