footer  
    .footer-wrapper
        .container
            .footer-wrap
                .footer-logo
                    img(src="img/Logo.png", alt="logo")
                    p 
                        |lorem quis bibendum auctor, nisi elit consequat ipsum,
                        |nec sagittis sem nibh elit. Duis sed odio sit amet auctror 
                        |a ornare odio non mauris vitae erat in elit
                    .link-footer-wrapper
                        a(href="#") HELP
                        a(href="#") TERMS & CONDITION
                        a(href="#") PRIVACY    
                .studio
                    h4 OUR STUDIO
                    .geo-wrapper    
                        img(src="img/geolocation.png", alt="geo")
                        p 
                            |Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, 
                            |Kalideres - Jakarta Barat
                            |11480 - Indonesia
                    .phone-wrapper    
                        img(src="img/phone.png", alt="geo")
                        a(href='tel:(+62) 21-2224 3333') (+62) 21-2224 3333
                .subscribe
                    h4 STAY IN TOUCH
                    form
                        input(type="text", placeholder="Subscribe our newsletter")
                        button
                            img(src="img/button.png", alt="button")
                    .social 
                        a(href="https://ru-ru.facebook.com").facebook
                            i.fa.fa-facebook(aria-hidden='true')
                        a(href="https://twitter.com").twitter
                            i.fa.fa-twitter(aria-hidden='true')
                        a(href="https://dribbble.com").dribbble
                            i.fa.fa-dribbble(aria-hidden='true')
                        a(href="https://www.instagram.com").instagram
                            i.fa.fa-instagram(aria-hidden='true')
                        a(href="https://plus.google.com").google
                            i.fa.fa-google-plus(aria-hidden='true')
                        a(href="https://www.youtube.com").youtube
                            i.fa.fa-youtube-play(aria-hidden='true')
                    p Copyright © 2015 - Tajem Creative            