header
  a(name='home')
  .header-wrapper
    .container
      .logo-nav-wrapper
        .logo
          img(src="./img/logo.png", alt="LOGO")
        nav.navbar.navbar-expand-lg.navbar-light
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='#home')
                  | HOME
              li.nav-item.active
                a.nav-link(href='#about')
                  | ABOUT 
              li.nav-item.active
                a.nav-link(href='#expertise')
                  | EXPERTISE 
              li.nav-item.active
                a.nav-link(href='#teams')
                  | TEAMS
              li.nav-item.active
                a.nav-link(href='#works')
                  | WORKS
              li.nav-item.active
                a.nav-link(href='#testimonials')
                  | PEOPLE SAY
              li.nav-item.active
                a.nav-link(href='#contact')
                      | CONTACT           
      #carouselExampleCaptions.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
              li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
              li(data-target='#carouselExampleCaptions' data-slide-to='1')
              li(data-target='#carouselExampleCaptions' data-slide-to='2')
              li(data-target='#carouselExampleCaptions' data-slide-to='3')
          .carousel-inner
              .carousel-item.active
                  h6 We Are Awesome Creative Agency
                  .line
                  p
                    |This is Photoshop's version  of Lorem Ipsum.
                    |Proin gravida nibh vel velit auctor aliquet.
                    |Aenean sollicitudin, lorem quis bibendum auctor,
                    |nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                    |Morbi accumsan ipsum velit.
                  .button
                    |LEARN MORE  
              .carousel-item
                  h6 We Are Awesome Creative Agency
                  .line
                  p
                    |This is Photoshop's version  of Lorem Ipsum.
                    |Proin gravida nibh vel velit auctor aliquet.
                    |Aenean sollicitudin, lorem quis bibendum auctor,
                    |nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                    |Morbi accumsan ipsum velit.
                  .button
                    |LEARN MORE  
              .carousel-item
                  h6 We Are Awesome Creative Agency
                  .line
                  p
                    |This is Photoshop's version  of Lorem Ipsum.
                    |Proin gravida nibh vel velit auctor aliquet.
                    |Aenean sollicitudin, lorem quis bibendum auctor,
                    |nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                    |Morbi accumsan ipsum velit.
                  .button
                    |LEARN MORE  
              .carousel-item
                  h6 We Are Awesome Creative Agency
                  .line
                  p
                    |This is Photoshop's version  of Lorem Ipsum.
                    |Proin gravida nibh vel velit auctor aliquet.
                    |Aenean sollicitudin, lorem quis bibendum auctor,
                    |nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    |Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                    |Morbi accumsan ipsum velit.
                  .button
                    |LEARN MORE     