section.team
    .team-wrapper
        .container
            h2 MEET OUR AMAZING TEAM
            p Lorem ipsum dolor sit amet proin gravida nibh vel velit
            .line
            .items-wrapper
                .item
                    img(src="http://d.stat01.com/d516639/face2.jpg?design=moving&lc=1602268673", alt="TEAM")
                    h6 SEMF UCUK
                    p CEO & FOUNDER   
                .item
                    img(src="https://www.se.com/ru/ru/assets/528/media/58871/560x2/Work-L2_04-490x490.jpg", alt="TEAM")
                    h6 DIK ADALIN
                    p ENGINEERING
                .item
                    img(src="http://www.usdentalcare.com/local/templates/index/img/doctors/11.jpg", alt="TEAM")
                    h6 JENG KOL
                    p DESIGNER
                .item
                    img(src="https://yt3.ggpht.com/a/AATXAJzbNeuZWTAOwgO-97Y8-oXqk1xYpSjF0L8MTw=s900-c-k-c0xffffffff-no-rj-mo", alt="TEAM")
                    h6 PET ROMAK
                    p MARKETING      
            .join Become part of our dream team, let’s join us !    
            .button WE ARE HIRING     