section.team
    a(name='teams')
    .team-wrapper
        .container
            h2 MEET OUR AMAZING TEAM
            p Lorem ipsum dolor sit amet proin gravida nibh vel velit
            .line
            .items-wrapper
                .item
                    img(src="img/CEO.jpg", alt="TEAM")
                    h6 SEMF UCUK
                    p CEO & FOUNDER   
                .item
                    img(src="img/ENGINEERING.jpg", alt="TEAM")
                    h6 DIK ADALIN
                    p ENGINEERING
                .item
                    img(src="img/DESIGNER.jpg", alt="TEAM")
                    h6 JENG KOL
                    p DESIGNER
                .item
                    img(src="img/MARKETING.jpg", alt="TEAM")
                    h6 PET ROMAK
                    p MARKETING      
            .join Become part of our dream team, let’s join us !    
            .button WE ARE HIRING     