section.testimonials
    .testimonials-wrapper
        .container
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next 
                ol.carousel-indicators
                    li(data-target='#carouselExampleIndicators' data-slide-to='0')
                    li(data-target='#carouselExampleIndicators' data-slide-to='1')
                    li.active(data-target='#carouselExampleIndicators' data-slide-to='2')
                    li(data-target='#carouselExampleIndicators' data-slide-to='3')
                    li(data-target='#carouselExampleIndicators' data-slide-to='4')  
                .carousel-inner
                    .carousel-item
                        h1 “
                        p 
                            |This is Photoshop's version  of Lorem Ipsum.
                            |Proin gravida nibh vel velit auctor aliquet. 
                            |Aenean sollicitudin, lorem quis bibendum auctor, 
                            |nisi elit consequat ipsum, nec sagittis sem nibh 
                            |id elit. Duis sed odio sit amet nibh vulputate 
                            |cursus a sit amet mauris. Morbi accumsan ipsum 
                            |velit. Nam nec tellus a odio tincidunt auctor a 
                            |ornare odio. Sed non  mauris vitae erat consequat 
                            |auctor eu in elit.
                        h6 BRUNGILDA LIRONTU 
                        .position CEO CHERDAPLIK   
                    .carousel-item
                        h1 “
                        p 
                            |This is Photoshop's version  of Lorem Ipsum.
                            |Proin gravida nibh vel velit auctor aliquet. 
                            |Aenean sollicitudin, lorem quis bibendum auctor, 
                            |nisi elit consequat ipsum, nec sagittis sem nibh 
                            |id elit. Duis sed odio sit amet nibh vulputate 
                            |cursus a sit amet mauris. Morbi accumsan ipsum 
                            |velit. Nam nec tellus a odio tincidunt auctor a 
                            |ornare odio. Sed non  mauris vitae erat consequat 
                            |auctor eu in elit.
                        h6 FRANK LAROTINY 
                        .position CEO LINUROSKA  
                    .carousel-item.active
                        h1 “
                        p 
                            |This is Photoshop's version  of Lorem Ipsum.
                            |Proin gravida nibh vel velit auctor aliquet. 
                            |Aenean sollicitudin, lorem quis bibendum auctor, 
                            |nisi elit consequat ipsum, nec sagittis sem nibh 
                            |id elit. Duis sed odio sit amet nibh vulputate 
                            |cursus a sit amet mauris. Morbi accumsan ipsum 
                            |velit. Nam nec tellus a odio tincidunt auctor a 
                            |ornare odio. Sed non  mauris vitae erat consequat 
                            |auctor eu in elit.
                        h6 JANE GALADRIEL 
                        .position CEO TENGKUREP 
                    .carousel-item
                        h1 “
                        p 
                            |This is Photoshop's version  of Lorem Ipsum.
                            |Proin gravida nibh vel velit auctor aliquet. 
                            |Aenean sollicitudin, lorem quis bibendum auctor, 
                            |nisi elit consequat ipsum, nec sagittis sem nibh 
                            |id elit. Duis sed odio sit amet nibh vulputate 
                            |cursus a sit amet mauris. Morbi accumsan ipsum 
                            |velit. Nam nec tellus a odio tincidunt auctor a 
                            |ornare odio. Sed non  mauris vitae erat consequat 
                            |auctor eu in elit.
                        h6 KATRIN DEVINATO 
                        .position   CEO KREPOBARD
                    .carousel-item
                        h1 “
                        p 
                            |This is Photoshop's version  of Lorem Ipsum.
                            |Proin gravida nibh vel velit auctor aliquet. 
                            |Aenean sollicitudin, lorem quis bibendum auctor, 
                            |nisi elit consequat ipsum, nec sagittis sem nibh 
                            |id elit. Duis sed odio sit amet nibh vulputate 
                            |cursus a sit amet mauris. Morbi accumsan ipsum 
                            |velit. Nam nec tellus a odio tincidunt auctor a 
                            |ornare odio. Sed non  mauris vitae erat consequat 
                            |auctor eu in elit.
                        h6 BOB JOHNSON 
                        .position CEO NEROBUS