section.works
    .container
        .works-wrapper
            h2 OUR WORKS
            a(href="#") See All Project in dribbble 
                i.fa.fa-angle-right(aria-hidden='true')
    .grid-works
        a(href="#") 
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
            img(src="", alt="IMG")
    .button LOAD MORE                  